h2{
  margin: 0 14px;
}

.seller{
  background-color: white;
  width: 200px;
  height: 330px;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  transition: .3s ease;
}

.seller:hover{
  box-shadow: 10px 20px 8px rgba(0, 0, 0, 0.1);
  transform: translateY(-5px);
}

.seller h2{
  margin: 0;
  margin-bottom: 35px;
}

.seller img{
  width: 100%;
}

.seller .stars{
  display: flex;
  margin: 20px 0;
  position: absolute;
  bottom: 10px;
}

.seller i.obtained{
  color: #309D9A;
}

.seller button{
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: #309D9A;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 25px;
  cursor: pointer;
  margin: 10px 0;
}

.seller button:hover{
  background-color: #267a7a;
}

.products{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  padding: 20px;
}